body{
    background: #2f3136;
}

.title-1{
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #dddfe1;
}

.form-1{
    width: 300px;
    height: 130px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: #dddfe1;
    text-align: center;
}
#token{
    width: 60%;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
    border: 0;
    background: none;
    border: 2px solid #34495e;
    outline: none;
    box-sizing: border-box;
}
#token:focus{
    border: 2px solid #2c3e50;
}
#sendbutton{
    background: #34495e;
    border: 0;
    border-radius: 3px;
    border: 2px solid #34495e;
    color: #dddfe1;
}